In [8]:
import pandas as pd
import numpy as np

Importo los documentos csv necesarios

In [27]:
clase1 = pd.read_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Unstructured Data/clase_1.csv', sep=';')
clase2 = pd.read_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Unstructured Data/clase_2.csv', sep=';')
clase3 = pd.read_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Unstructured Data/clase_3.csv', sep=';')
clase4 = pd.read_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Unstructured Data/clase_4.csv', sep=';')
profesores = pd.read_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Unstructured Data/claustro.csv', sep=';')

Permito que se puedan ver todas las columnas, por perspectiva.

In [9]:
pd.set_option('display.max_columns', None)

En la siguiente celda voy a unir clase1 y clase2 en un data frame unico llamado Data Science, por simplicidad

In [28]:
data_science = pd.concat([clase1, clase2], ignore_index=True)
data_science = data_science.rename(columns={'Promoción': 'Promocion'})
data_science['Vertical'] = 'DS'
np.random.seed(52) 
data_science['id_alumno'] = np.random.randint(10000, 100000, size=len(data_science))

modalidades = ['Online', 'Presencial']
data_science['Modalidad'] = np.random.choice(modalidades, size=len(data_science))
data_science = data_science.set_index('id_alumno')

data_science

,Nombre,Email,Promocion,Fecha_comienzo,Campus,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment,Vertical,Modalidad
id_alumno,,,,,,,,,,,,
99077,Jafet Casals,Jafet_Casals@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,DS,Presencial
52652,Jorge Manzanares,Jorge_Manzanares@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,DS,Online
66845,Onofre Adadia,Onofre_Adadia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto,DS,Online
79783,Merche Prada,Merche_Prada@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,No Apto,DS,Presencial
68268,Pilar Abella,Pilar_Abella@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,DS,Presencial
86704,Leoncio Tena,Leoncio_Tena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto,DS,Presencial
98005,Odalys Torrijos,Odalys_Torrijos@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto,DS,Presencial
70650,Eduardo Caparrós,Eduardo_Caparrós@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto,DS,Online
45723,Ignacio Goicoechea,Ignacio_Goicoechea@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,No Apto,Apto,DS,Online
83978,Clementina Santos,Clementina_Santos@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,DS,Presencial
73203,Daniela Falcó,Daniela_Falcó@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto,DS,Presencial
50737,Abraham Vélez,Abraham_Vélez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,No Apto,Apto,Apto,DS,Online
33813,Maximiliano Menéndez,Maximiliano_Menéndez@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,Apto,Apto,DS,Online
86017,Anita Heredia,Anita_Heredia@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto,DS,Online
83744,Eli Casas,Eli_Casas@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto,DS,Online
82843,Guillermo Borrego,Guillermo_Borrego@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,No Apto,Apto,No Apto,DS,Presencial
25344,Sergio Aguirre,Sergio_Aguirre@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,No Apto,DS,Presencial
17222,Carlito Carrión,Carlito_Carrión@gmail.com,Febrero,12/02/2024,Madrid,Apto,No Apto,Apto,Apto,Apto,DS,Presencial
14526,Haydée Figueroa,Haydée_Figueroa@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto,DS,Online
21965,Chita Mancebo,Chita_Mancebo@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto,DS,Presencial
37821,Joaquina Asensio,Joaquina_Asensio@gmail.com,Febrero,12/02/2024,Madrid,No Apto,No Apto,Apto,Apto,Apto,DS,Online
59615,Cristian Sarabia,Cristian_Sarabia@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,No Apto,Apto,Apto,DS,Online
72262,Isabel Ibáñez,Isabel_Ibáñez@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,Apto,Apto,DS,Presencial
83663,Desiderio Jordá,Desiderio_Jordá@gmail.com,Febrero,12/02/2024,Madrid,No Apto,Apto,No Apto,No Apto,Apto,DS,Online
80183,Rosalina Llanos,Rosalina_Llanos@gmail.com,Febrero,12/02/2024,Madrid,Apto,Apto,Apto,Apto,Apto,DS,Presencial

Guardo el Data Frame como data_science

In [150]:
data_science.to_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Structured Data/data_science.csv')

Hago el mismo proceso con clase3, clase4 y los agrego a full_stack

In [29]:
full_stack = pd.concat([clase3, clase4], ignore_index=True)
full_stack = full_stack.rename(columns={'Promoción': 'Promocion'})
full_stack['Vertical'] = 'FS'
np.random.seed(62) 
full_stack['id_alumno'] = np.random.randint(10000, 100000, size=len(full_stack))
modalidades = ['Online', 'Presencial']
full_stack['Modalidad'] = np.random.choice(modalidades, size=len(full_stack))
full_stack = full_stack.set_index('id_alumno')
full_stack

,Nombre,Email,Promocion,Fecha_comienzo,Campus,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck,Vertical,Modalidad
id_alumno,,,,,,,,,,,,
19746,Amor Larrañaga,Amor_Larrañaga@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto,FS,Presencial
25384,Teodoro Alberola,Teodoro_Alberola@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,No Apto,Apto,No Apto,Apto,FS,Online
19809,Cleto Plana,Cleto_Plana@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto,FS,Presencial
77699,Aitana Sebastián,Aitana_Sebastián@gmail.com,Septiembre,18/09/2023,Madrid,Apto,No Apto,Apto,No Apto,Apto,FS,Online
46107,Dolores Valbuena,Dolores_Valbuena@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,No Apto,FS,Online
86981,Julie Ferrer,Julie_Ferrer@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,No Apto,No Apto,Apto,No Apto,FS,Online
38689,Mireia Cabañas,Mireia_Cabañas@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto,FS,Presencial
12404,Flavia Amador,Flavia_Amador@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,No Apto,Apto,Apto,FS,Online
92334,Albino Macias,Albino_Macias@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto,FS,Online
91837,Ester Sánchez,Ester_Sánchez@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,No Apto,Apto,FS,Online
72885,Luis Miguel Galvez,Luis_Miguel_Galvez@gmail.com,Septiembre,18/09/2023,Madrid,No Apto,Apto,Apto,Apto,Apto,FS,Presencial
16237,Loida Arellano,Loida_Arellano@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto,FS,Presencial
91481,Heraclio Duque,Heraclio_Duque@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,No Apto,No Apto,No Apto,FS,Presencial
59128,Herberto Figueras,Herberto_Figueras@gmail.com,Septiembre,18/09/2023,Madrid,Apto,Apto,Apto,Apto,Apto,FS,Presencial
45955,Teresa Laguna,Teresa_Laguna@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto,FS,Presencial
38554,Estrella Murillo,Estrella_Murillo@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,Apto,Apto,FS,Online
28771,Ernesto Uriarte,Ernesto_Uriarte@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto,FS,Online
31790,Daniela Guitart,Daniela_Guitart@gmail.com,Febrero,12/02/2024,Valencia,Apto,No Apto,No Apto,Apto,Apto,FS,Presencial
16677,Timoteo Trillo,Timoteo_Trillo@gmail.com,Febrero,12/02/2024,Valencia,No Apto,Apto,Apto,Apto,No Apto,FS,Presencial
83834,Ricarda Tovar,Ricarda_Tovar@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,Apto,Apto,Apto,FS,Presencial
13406,Alejandra Vilaplana,Alejandra_Vilaplana@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,No Apto,Apto,Apto,FS,Online
90000,Daniel Rosselló,Daniel_Rosselló@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,Apto,No Apto,No Apto,FS,Presencial
29585,Rita Olivares,Rita_Olivares@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,No Apto,Apto,Apto,FS,Presencial
16668,Cleto Montes,Cleto_Montes@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,Apto,Apto,FS,Presencial
71521,Marino Castilla,Marino_Castilla@gmail.com,Febrero,12/02/2024,Valencia,No Apto,No Apto,Apto,No Apto,No Apto,FS,Presencial
33009,Estefanía Valcárcel,Estefanía_Valcárcel@gmail.com,Febrero,12/02/2024,Valencia,Apto,Apto,No Apto,No Apto,Apto,FS,Presencial
37321,Noemí Vilanova,Noemí_Vilanova@gmail.com,Febrero,12/02/2024,Valencia,Apto,No Apto,No Apto,Apto,Apto,FS,Presencial

Guardo esta tabla

In [152]:
full_stack.to_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Structured Data/full_stack.csv')

Investigo si esque tengo coincidencias entre los nombre de las dos verticales

In [153]:
coincidencias = full_stack[full_stack['Nombre'].isin(data_science['Nombre'])]
coincidencias

Empty DataFrame
Columns: [Nombre, Email, Promocion, Fecha_comienzo, Campus, Proyecto_WebDev, Proyecto_FrontEnd, Proyecto_Backend, Proyecto_React, Proyecto_FullSatck, Vertical, Modalidad]
Index: []

In [154]:
profesores

               Nombre Rol Vertical   Promocion    Campus   Modalidad
0           Noa Yáñez  TA       DS  Septiembre    Madrid  Presencial
1   Saturnina Benitez  TA       DS  Septiembre    Madrid  Presencial
2          Anna Feliu  TA       FS  Septiembre    Madrid  Presencial
3       Rosalva Ayuso  TA       FS  Septiembre  Valencia  Presencial
4    Ana Sofía Ferrer  TA       FS     Febrero  Valencia  Presencial
5     Angélica Corral  TA       FS     Febrero    Madrid  Presencial
6         Ariel Lledó  TA       DS  Septiembre    Madrid  Presencial
7         Mario Prats  LI       FS     Febrero  Valencia      Online
8   Luis Ángel Suárez  LI       FS  Septiembre    Madrid      Online
9  María Dolores Diaz  LI       DS  Septiembre    Madrid      Online

Creo una tabla donde agregare mails a estos profesores

In [170]:
emails_profesores = [
    'naoy@thebridge.com', 
    'saturinab@thebridge.com', 
    'annaf@thebridge.com', 
    'rosalvaa@thebridge.com', 
    'anasofiaf@thebridge.com', 
    'angelicac@thebridge.com', 
    'ariell@thebridge.com', 
    'mariop@thebridge.com', 
    'luisangels@thebridge.com', 
    'mariadoloresd@thebridge.com'
]

mails_profesores = pd.DataFrame({'Email': emails_profesores})

np.random.seed(42) 
profesores['id_profesor'] = np.random.randint(10000, 100000, size=len(profesores))

profesores['Email'] = mails_profesores['Email'].values

profesores.set_index('id_profesor')

,Nombre,Rol,Vertical,Promocion,Campus,Modalidad,Email
id_profesor,,,,,,,
25795,Noa Yáñez,TA,DS,Septiembre,Madrid,Presencial,naoy@thebridge.com
10860,Saturnina Benitez,TA,DS,Septiembre,Madrid,Presencial,saturinab@thebridge.com
86820,Anna Feliu,TA,FS,Septiembre,Madrid,Presencial,annaf@thebridge.com
64886,Rosalva Ayuso,TA,FS,Septiembre,Valencia,Presencial,rosalvaa@thebridge.com
16265,Ana Sofía Ferrer,TA,FS,Febrero,Valencia,Presencial,anasofiaf@thebridge.com
92386,Angélica Corral,TA,FS,Febrero,Madrid,Presencial,angelicac@thebridge.com
47194,Ariel Lledó,TA,DS,Septiembre,Madrid,Presencial,ariell@thebridge.com
97498,Mario Prats,LI,FS,Febrero,Valencia,Online,mariop@thebridge.com
54131,Luis Ángel Suárez,LI,FS,Septiembre,Madrid,Online,luisangels@thebridge.com
70263,María Dolores Diaz,LI,DS,Septiembre,Madrid,Online,mariadoloresd@thebridge.com

Guardo la tabla profesores

In [171]:
profesores.to_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Structured Data/profesores.csv')

Comienzo por la tabla de profesor, donde solo tendre el nombre, el rol y agreggo mail.

In [172]:
profesores_tabla = profesores[['Nombre', 'Rol', 'Modalidad']]

profesores_tabla

               Nombre Rol   Modalidad
0           Noa Yáñez  TA  Presencial
1   Saturnina Benitez  TA  Presencial
2          Anna Feliu  TA  Presencial
3       Rosalva Ayuso  TA  Presencial
4    Ana Sofía Ferrer  TA  Presencial
5     Angélica Corral  TA  Presencial
6         Ariel Lledó  TA  Presencial
7         Mario Prats  LI      Online
8   Luis Ángel Suárez  LI      Online
9  María Dolores Diaz  LI      Online

Guardo

In [173]:
profesores_tabla.to_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Structured Data/profesores_tabla.csv')

Ahora hago una tabla total de todos los alumnos

In [12]:
ds_nombres_emails = data_science[['Nombre', 'Promocion', 'Campus', 'Modalidad', 'Vertical']]
fs_nombres_emails = full_stack[['Nombre', 'Promocion', 'Campus', 'Modalidad', 'Vertical']]

alumnos_combinados_total_tabla = pd.concat([ds_nombres_emails, fs_nombres_emails])

alumnos_combinados_total_tabla

                         Nombre   Promocion    Campus   Modalidad Vertical
id_alumno
99077              Jafet Casals  Septiembre    Madrid  Presencial       DS
52652          Jorge Manzanares  Septiembre    Madrid      Online       DS
66845             Onofre Adadia  Septiembre    Madrid      Online       DS
79783              Merche Prada  Septiembre    Madrid  Presencial       DS
68268              Pilar Abella  Septiembre    Madrid  Presencial       DS
86704              Leoncio Tena  Septiembre    Madrid  Presencial       DS
98005           Odalys Torrijos  Septiembre    Madrid  Presencial       DS
70650          Eduardo Caparrós  Septiembre    Madrid      Online       DS
45723        Ignacio Goicoechea  Septiembre    Madrid      Online       DS
83978         Clementina Santos  Septiembre    Madrid  Presencial       DS
73203             Daniela Falcó  Septiembre    Madrid  Presencial       DS
50737             Abraham Vélez  Septiembre    Madrid      Online       DS
33813      Maximiliano Menéndez  Septiembre    Madrid      Online       DS
86017             Anita Heredia  Septiembre    Madrid      Online       DS
83744                 Eli Casas  Septiembre    Madrid      Online       DS
82843         Guillermo Borrego     Febrero    Madrid  Presencial       DS
25344            Sergio Aguirre     Febrero    Madrid  Presencial       DS
17222           Carlito Carrión     Febrero    Madrid  Presencial       DS
14526           Haydée Figueroa     Febrero    Madrid      Online       DS
21965             Chita Mancebo     Febrero    Madrid  Presencial       DS
37821          Joaquina Asensio     Febrero    Madrid      Online       DS
59615          Cristian Sarabia     Febrero    Madrid      Online       DS
72262             Isabel Ibáñez     Febrero    Madrid  Presencial       DS
83663           Desiderio Jordá     Febrero    Madrid      Online       DS
80183           Rosalina Llanos     Febrero    Madrid  Presencial       DS
19746            Amor Larrañaga  Septiembre    Madrid  Presencial       FS
25384          Teodoro Alberola  Septiembre    Madrid      Online       FS
19809               Cleto Plana  Septiembre    Madrid  Presencial       FS
77699          Aitana Sebastián  Septiembre    Madrid      Online       FS
46107          Dolores Valbuena  Septiembre    Madrid      Online       FS
86981              Julie Ferrer  Septiembre    Madrid      Online       FS
38689            Mireia Cabañas  Septiembre    Madrid  Presencial       FS
12404             Flavia Amador  Septiembre    Madrid      Online       FS
92334             Albino Macias  Septiembre    Madrid      Online       FS
91837             Ester Sánchez  Septiembre    Madrid      Online       FS
72885        Luis Miguel Galvez  Septiembre    Madrid  Presencial       FS
16237            Loida Arellano  Septiembre    Madrid  Presencial       FS
91481            Heraclio Duque  Septiembre    Madrid  Presencial       FS
59128         Herberto Figueras  Septiembre    Madrid  Presencial       FS
45955             Teresa Laguna     Febrero  Valencia  Presencial       FS
38554          Estrella Murillo     Febrero  Valencia      Online       FS
28771           Ernesto Uriarte     Febrero  Valencia      Online       FS
31790           Daniela Guitart     Febrero  Valencia  Presencial       FS
16677            Timoteo Trillo     Febrero  Valencia  Presencial       FS
83834             Ricarda Tovar     Febrero  Valencia  Presencial       FS
13406       Alejandra Vilaplana     Febrero  Valencia      Online       FS
90000           Daniel Rosselló     Febrero  Valencia  Presencial       FS
29585             Rita Olivares     Febrero  Valencia  Presencial       FS
16668              Cleto Montes     Febrero  Valencia  Presencial       FS
71521           Marino Castilla     Febrero  Valencia  Presencial       FS
33009       Estefanía Valcárcel     Febrero  Valencia  Presencial       FS
37321            Noemí Vilanova     Febrero  Valencia  Presencial       FS

In [13]:
# Crear una copia del DataFrame original
alumnos_combinados_numericos = alumnos_combinados_total_tabla.copy()

# Mapeo para Promocion
promocion_map = {
    'Septiembre': 1,
    'Noviembre': 2,
    'Febrero': 2,
    'Mayo': 4
}
alumnos_combinados_numericos['Promocion'] = alumnos_combinados_numericos['Promocion'].map(promocion_map)

# Mapeo para Campus
campus_map = {
    'Madrid': 1,
    'Valencia': 2,
    'Vitoria': 3,
    'Bilbao': 4
}
alumnos_combinados_numericos['Campus'] = alumnos_combinados_numericos['Campus'].map(campus_map)

# Mapeo para Modalidad
modalidad_map = {
    'Online': 1,
    'Presencial': 2
}
alumnos_combinados_numericos['Modalidad'] = alumnos_combinados_numericos['Modalidad'].map(modalidad_map)

# Mapeo para Vertical
vertical_map = {
    'FS': 1,
    'DS': 2,
    'CS': 3
}
alumnos_combinados_numericos['Vertical'] = alumnos_combinados_numericos['Vertical'].map(vertical_map)

# Mostrar el resultado
alumnos_combinados_numericos

                         Nombre  Promocion  Campus  Modalidad  Vertical
id_alumno
99077              Jafet Casals          1       1          2         2
52652          Jorge Manzanares          1       1          1         2
66845             Onofre Adadia          1       1          1         2
79783              Merche Prada          1       1          2         2
68268              Pilar Abella          1       1          2         2
86704              Leoncio Tena          1       1          2         2
98005           Odalys Torrijos          1       1          2         2
70650          Eduardo Caparrós          1       1          1         2
45723        Ignacio Goicoechea          1       1          1         2
83978         Clementina Santos          1       1          2         2
73203             Daniela Falcó          1       1          2         2
50737             Abraham Vélez          1       1          1         2
33813      Maximiliano Menéndez          1       1          1         2
86017             Anita Heredia          1       1          1         2
83744                 Eli Casas          1       1          1         2
82843         Guillermo Borrego          2       1          2         2
25344            Sergio Aguirre          2       1          2         2
17222           Carlito Carrión          2       1          2         2
14526           Haydée Figueroa          2       1          1         2
21965             Chita Mancebo          2       1          2         2
37821          Joaquina Asensio          2       1          1         2
59615          Cristian Sarabia          2       1          1         2
72262             Isabel Ibáñez          2       1          2         2
83663           Desiderio Jordá          2       1          1         2
80183           Rosalina Llanos          2       1          2         2
19746            Amor Larrañaga          1       1          2         1
25384          Teodoro Alberola          1       1          1         1
19809               Cleto Plana          1       1          2         1
77699          Aitana Sebastián          1       1          1         1
46107          Dolores Valbuena          1       1          1         1
86981              Julie Ferrer          1       1          1         1
38689            Mireia Cabañas          1       1          2         1
12404             Flavia Amador          1       1          1         1
92334             Albino Macias          1       1          1         1
91837             Ester Sánchez          1       1          1         1
72885        Luis Miguel Galvez          1       1          2         1
16237            Loida Arellano          1       1          2         1
91481            Heraclio Duque          1       1          2         1
59128         Herberto Figueras          1       1          2         1
45955             Teresa Laguna          2       2          2         1
38554          Estrella Murillo          2       2          1         1
28771           Ernesto Uriarte          2       2          1         1
31790           Daniela Guitart          2       2          2         1
16677            Timoteo Trillo          2       2          2         1
83834             Ricarda Tovar          2       2          2         1
13406       Alejandra Vilaplana          2       2          1         1
90000           Daniel Rosselló          2       2          2         1
29585             Rita Olivares          2       2          2         1
16668              Cleto Montes          2       2          2         1
71521           Marino Castilla          2       2          2         1
33009       Estefanía Valcárcel          2       2          2         1
37321            Noemí Vilanova          2       2          2         1

In [21]:
alumnos_combinados_total_tabla.to_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Structured Data/alumnos_combinados_total_tabla.csv')

In [24]:
# Definir los mapeos para cada categoría
promocion_map = {
    'Septiembre': 1,
    'Noviembre': 2,
    'Febrero': 2,
    'Mayo': 4
}

campus_map = {
    'Madrid': 1,
    'Valencia': 2,
    'Vitoria': 3,
    'Bilbao': 4
}

modalidad_map = {
    'Online': 1,
    'Presencial': 2
}

vertical_map = {
    'FS': 1,
    'DS': 2,
    'CS': 3
}

# Generar las combinaciones en el orden del DataFrame
combinaciones = []
for _, row in alumnos_combinados_total_tabla.iterrows():
    combinacion = f"({promocion_map.get(row['Promocion'], 0)}," \
                  f"{campus_map.get(row['Campus'], 0)}," \
                  f"{modalidad_map.get(row['Modalidad'], 0)}," \
                  f"{vertical_map.get(row['Vertical'], 0)})"
    combinaciones.append(combinacion)
    print(combinacion)  # Imprime cada combinación en una línea para facilitar copia/pega

(1,1,2,2)
(1,1,1,2)
(1,1,1,2)
(1,1,2,2)
(1,1,2,2)
(1,1,2,2)
(1,1,2,2)
(1,1,1,2)
(1,1,1,2)
(1,1,2,2)
(1,1,2,2)
(1,1,1,2)
(1,1,1,2)
(1,1,1,2)
(1,1,1,2)
(2,1,2,2)
(2,1,2,2)
(2,1,2,2)
(2,1,1,2)
(2,1,2,2)
(2,1,1,2)
(2,1,1,2)
(2,1,2,2)
(2,1,1,2)
(2,1,2,2)
(1,1,2,1)
(1,1,1,1)
(1,1,2,1)
(1,1,1,1)
(1,1,1,1)
(1,1,1,1)
(1,1,2,1)
(1,1,1,1)
(1,1,1,1)
(1,1,1,1)
(1,1,2,1)
(1,1,2,1)
(1,1,2,1)
(1,1,2,1)
(2,2,2,1)
(2,2,1,1)
(2,2,1,1)
(2,2,2,1)
(2,2,2,1)
(2,2,2,1)
(2,2,1,1)
(2,2,2,1)
(2,2,2,1)
(2,2,2,1)
(2,2,2,1)
(2,2,2,1)
(2,2,2,1)

In [19]:
combincacion = data_science['combinacion']
combincacion.value_counts()

combinacion
(1,1,1,2)    8
(1,1,2,2)    7
(2,1,2,2)    6
(2,1,1,2)    4
Name: count, dtype: int64

Ahora uno estas tablas, siendo que me sera de utilidad para la tabla grupo

In [7]:
ds_id_nombre_promocion_campus_vertical = data_science[['Nombre', 'Promocion', 'Campus', 'Modalidad','Vertical']]
fs_id_nombre_promocion_campus_vertical = full_stack[['Nombre', 'Promocion', 'Campus', 'Modalidad', 'Vertical']]

alumnos_combinados_vertical = pd.concat([ds_id_nombre_promocion_campus_vertical, fs_id_nombre_promocion_campus_vertical])

alumnos_combinados_vertical

NameError: name 'data_science' is not defined

Ahora creamos la tabla grupo

In [ ]:
# Aplicar reset_index() para convertir el índice en columna
profesores_filtrados = profesores.reset_index()[['id_profesor','Nombre', 'Promocion', 'Campus', 'Vertical', 'Modalidad']]

alumnos_filtrados = alumnos_combinados_vertical.reset_index()[['id_alumno', 'Nombre', 'Promocion', 'Campus', 'Vertical', 'Modalidad']]

grupo_tabla = pd.concat([profesores_filtrados, alumnos_filtrados], ignore_index=True)

todas_columnas = grupo_tabla.columns.tolist()

primera_columna = todas_columnas[0] 
columnas_restantes = [col for col in todas_columnas[1:] if col != 'id_alumno']
nuevo_orden = [primera_columna, 'id_alumno'] + columnas_restantes

grupo_tabla = grupo_tabla[nuevo_orden]

grupo_tabla


# Alumno

,id_profesor,id_alumno,Nombre,Promocion,Campus,Vertical,Modalidad
0,25795.0,NaN,Noa Yáñez,Septiembre,Madrid,DS,Presencial
1,10860.0,NaN,Saturnina Benitez,Septiembre,Madrid,DS,Presencial
2,86820.0,NaN,Anna Feliu,Septiembre,Madrid,FS,Presencial
3,64886.0,NaN,Rosalva Ayuso,Septiembre,Valencia,FS,Presencial
4,16265.0,NaN,Ana Sofía Ferrer,Febrero,Valencia,FS,Presencial
...,...,...,...,...,...,...,...
57,NaN,29585.0,Rita Olivares,Febrero,Valencia,FS,Presencial
58,NaN,16668.0,Cleto Montes,Febrero,Valencia,FS,Presencial
59,NaN,71521.0,Marino Castilla,Febrero,Valencia,FS,Presencial
60,NaN,33009.0,Estefanía Valcárcel,Febrero,Valencia,FS,Presencial
61,NaN,37321.0,Noemí Vilanova,Febrero,Valencia,FS,Presencial

In [177]:
with pd.option_context('display.max_rows', None):
    display(grupo_tabla)

,id_profesor,id_alumno,Nombre,Promocion,Campus,Vertical,Modalidad
0,25795.0,NaN,Noa Yáñez,Septiembre,Madrid,DS,Presencial
1,10860.0,NaN,Saturnina Benitez,Septiembre,Madrid,DS,Presencial
2,86820.0,NaN,Anna Feliu,Septiembre,Madrid,FS,Presencial
3,64886.0,NaN,Rosalva Ayuso,Septiembre,Valencia,FS,Presencial
4,16265.0,NaN,Ana Sofía Ferrer,Febrero,Valencia,FS,Presencial
5,92386.0,NaN,Angélica Corral,Febrero,Madrid,FS,Presencial
6,47194.0,NaN,Ariel Lledó,Septiembre,Madrid,DS,Presencial
7,97498.0,NaN,Mario Prats,Febrero,Valencia,FS,Online
8,54131.0,NaN,Luis Ángel Suárez,Septiembre,Madrid,FS,Online
9,70263.0,NaN,María Dolores Diaz,Septiembre,Madrid,DS,Online
10,NaN,99077.0,Jafet Casals,Septiembre,Madrid,DS,Presencial
11,NaN,52652.0,Jorge Manzanares,Septiembre,Madrid,DS,Online
12,NaN,66845.0,Onofre Adadia,Septiembre,Madrid,DS,Online
13,NaN,79783.0,Merche Prada,Septiembre,Madrid,DS,Presencial
14,NaN,68268.0,Pilar Abella,Septiembre,Madrid,DS,Presencial
15,NaN,86704.0,Leoncio Tena,Septiembre,Madrid,DS,Presencial
16,NaN,98005.0,Odalys Torrijos,Septiembre,Madrid,DS,Presencial
17,NaN,70650.0,Eduardo Caparrós,Septiembre,Madrid,DS,Online
18,NaN,45723.0,Ignacio Goicoechea,Septiembre,Madrid,DS,Online
19,NaN,83978.0,Clementina Santos,Septiembre,Madrid,DS,Presencial
20,NaN,73203.0,Daniela Falcó,Septiembre,Madrid,DS,Presencial
21,NaN,50737.0,Abraham Vélez,Septiembre,Madrid,DS,Online
22,NaN,33813.0,Maximiliano Menéndez,Septiembre,Madrid,DS,Online
23,NaN,86017.0,Anita Heredia,Septiembre,Madrid,DS,Online
24,NaN,83744.0,Eli Casas,Septiembre,Madrid,DS,Online
25,NaN,82843.0,Guillermo Borrego,Febrero,Madrid,DS,Presencial
26,NaN,25344.0,Sergio Aguirre,Febrero,Madrid,DS,Presencial
27,NaN,17222.0,Carlito Carrión,Febrero,Madrid,DS,Presencial
28,NaN,14526.0,Haydée Figueroa,Febrero,Madrid,DS,Online
29,NaN,21965.0,Chita Mancebo,Febrero,Madrid,DS,Presencial
30,NaN,37821.0,Joaquina Asensio,Febrero,Madrid,DS,Online
31,NaN,59615.0,Cristian Sarabia,Febrero,Madrid,DS,Online
32,NaN,72262.0,Isabel Ibáñez,Febrero,Madrid,DS,Presencial
33,NaN,83663.0,Desiderio Jordá,Febrero,Madrid,DS,Online
34,NaN,80183.0,Rosalina Llanos,Febrero,Madrid,DS,Presencial
35,NaN,19746.0,Amor Larrañaga,Septiembre,Madrid,FS,Presencial
36,NaN,25384.0,Teodoro Alberola,Septiembre,Madrid,FS,Online
37,NaN,19809.0,Cleto Plana,Septiembre,Madrid,FS,Presencial
38,NaN,77699.0,Aitana Sebastián,Septiembre,Madrid,FS,Online
39,NaN,46107.0,Dolores Valbuena,Septiembre,Madrid,FS,Online
40,NaN,86981.0,Julie Ferrer,Septiembre,Madrid,FS,Online
41,NaN,38689.0,Mireia Cabañas,Septiembre,Madrid,FS,Presencial
42,NaN,12404.0,Flavia Amador,Septiembre,Madrid,FS,Online
43,NaN,92334.0,Albino Macias,Septiembre,Madrid,FS,Online
44,NaN,91837.0,Ester Sánchez,Septiembre,Madrid,FS,Online
45,NaN,72885.0,Luis Miguel Galvez,Septiembre,Madrid,FS,Presencial
46,NaN,16237.0,Loida Arellano,Septiembre,Madrid,FS,Presencial
47,NaN,91481.0,Heraclio Duque,Septiembre,Madrid,FS,Presencial
48,NaN,59128.0,Herberto Figueras,Septiembre,Madrid,FS,Presencial
49,NaN,45955.0,Teresa Laguna,Febrero,Valencia,FS,Presencial
50,NaN,38554.0,Estrella Murillo,Febrero,Valencia,FS,Online
51,NaN,28771.0,Ernesto Uriarte,Febrero,Valencia,FS,Online
52,NaN,31790.0,Daniela Guitart,Febrero,Valencia,FS,Presencial
53,NaN,16677.0,Timoteo Trillo,Febrero,Valencia,FS,Presencial
54,NaN,83834.0,Ricarda Tovar,Febrero,Valencia,FS,Presencial
55,NaN,13406.0,Alejandra Vilaplana,Febrero,Valencia,FS,Online
56,NaN,90000.0,Daniel Rosselló,Febrero,Valencia,FS,Presencial
57,NaN,29585.0,Rita Olivares,Febrero,Valencia,FS,Presencial
58,NaN,16668.0,Cleto Montes,Febrero,Valencia,FS,Presencial
59,NaN,71521.0,Marino Castilla,Febrero,Valencia,FS,Presencial
60,NaN,33009.0,Estefanía Valcárcel,Febrero,Valencia,FS,Presencial
61,NaN,37321.0,Noemí Vilanova,Febrero,Valencia,FS,Presencial

In [178]:
grupo_tabla.to_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Structured Data/grupo_tabla.csv')

Ahora creamos la tabla Modalidad

In [191]:
profesores_filtrados_modalidad = profesores.reset_index()[['id_profesor','Modalidad']]

alumnos_filtrados_modalidad = alumnos_combinados_vertical.reset_index()[['id_alumno','Modalidad']]

modalidad_tabla = pd.concat([profesores_filtrados_modalidad, alumnos_filtrados_modalidad], ignore_index=True)

columnas = modalidad_tabla.columns.tolist()
columnas_nuevas = ['id_profesor', 'id_alumno', 'Modalidad']
modalidad_tabla = modalidad_tabla[columnas_nuevas]

modalidad_tabla

    id_profesor  id_alumno   Modalidad
0       25795.0        NaN  Presencial
1       10860.0        NaN  Presencial
2       86820.0        NaN  Presencial
3       64886.0        NaN  Presencial
4       16265.0        NaN  Presencial
..          ...        ...         ...
57          NaN    29585.0  Presencial
58          NaN    16668.0  Presencial
59          NaN    71521.0  Presencial
60          NaN    33009.0  Presencial
61          NaN    37321.0  Presencial

[62 rows x 3 columns]

Guardamos

In [186]:
modalidad_tabla.to_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Structured Data/modalidad_tabla.csv')

Ahora creamos la tabla Promocion

In [192]:
profesores_filtrados_promocion = profesores.reset_index()[['id_profesor','Promocion']]

alumnos_filtrados_promocion = alumnos_combinados_vertical.reset_index()[['id_alumno','Promocion']]

promocion_tabla = pd.concat([profesores_filtrados_promocion, alumnos_filtrados_promocion], ignore_index=True)

promocion_tabla = promocion_tabla[['id_profesor', 'id_alumno', 'Promocion']]

promocion_tabla

    id_profesor  id_alumno   Promocion
0       25795.0        NaN  Septiembre
1       10860.0        NaN  Septiembre
2       86820.0        NaN  Septiembre
3       64886.0        NaN  Septiembre
4       16265.0        NaN     Febrero
..          ...        ...         ...
57          NaN    29585.0     Febrero
58          NaN    16668.0     Febrero
59          NaN    71521.0     Febrero
60          NaN    33009.0     Febrero
61          NaN    37321.0     Febrero

[62 rows x 3 columns]

Guardo

In [193]:
promocion_tabla.to_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Structured Data/promocion_tabla.csv')

Creamos la tabla Campus

In [198]:
profesores_filtrados_campus = profesores.reset_index()[['id_profesor','Campus']]

alumnos_filtrados_campus = alumnos_combinados_vertical.reset_index()[['id_alumno','Campus']]

campus_tabla = pd.concat([profesores_filtrados_campus, alumnos_filtrados_campus], ignore_index=True)

campus_tabla = campus_tabla[['id_profesor', 'id_alumno', 'Campus']]

campus_tabla

    id_profesor  id_alumno    Campus
0       25795.0        NaN    Madrid
1       10860.0        NaN    Madrid
2       86820.0        NaN    Madrid
3       64886.0        NaN  Valencia
4       16265.0        NaN  Valencia
..          ...        ...       ...
57          NaN    29585.0  Valencia
58          NaN    16668.0  Valencia
59          NaN    71521.0  Valencia
60          NaN    33009.0  Valencia
61          NaN    37321.0  Valencia

[62 rows x 3 columns]

Guardo

In [199]:
campus_tabla.to_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Structured Data/campus_tabla.csv')

Creo la tabla Vertical

In [202]:
profesores_filtrados_vertical = profesores.reset_index()[['id_profesor','Vertical']]

alumnos_filtrados_vertical = alumnos_combinados_vertical.reset_index()[['id_alumno','Vertical']]

vertical_tabla = pd.concat([profesores_filtrados_vertical, alumnos_filtrados_vertical], ignore_index=True)

vertical_tabla = vertical_tabla[['id_profesor', 'id_alumno', 'Vertical']]

vertical_tabla

    id_profesor  id_alumno Vertical
0       25795.0        NaN       DS
1       10860.0        NaN       DS
2       86820.0        NaN       FS
3       64886.0        NaN       FS
4       16265.0        NaN       FS
..          ...        ...      ...
57          NaN    29585.0       FS
58          NaN    16668.0       FS
59          NaN    71521.0       FS
60          NaN    33009.0       FS
61          NaN    37321.0       FS

[62 rows x 3 columns]

In [203]:
vertical_tabla.to_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Structured Data/vertical_tabla.csv')

Creo tabla proyecto

In [35]:
ds_proyectos = data_science.reset_index()[['Nombre','id_alumno', 'Proyecto_HLF', 'Proyecto_EDA', 'Proyecto_BBDD', 'Proyecto_ML', 'Proyecto_Deployment']]

fs_proyectos = full_stack.reset_index()[['Nombre','id_alumno', 'Proyecto_WebDev', 'Proyecto_FrontEnd', 'Proyecto_Backend', 'Proyecto_React', 'Proyecto_FullSatck']]


fs_proyectos

,Nombre,id_alumno,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Amor Larrañaga,19746,Apto,Apto,Apto,Apto,No Apto
1,Teodoro Alberola,25384,No Apto,No Apto,Apto,No Apto,Apto
2,Cleto Plana,19809,Apto,No Apto,Apto,No Apto,Apto
3,Aitana Sebastián,77699,Apto,No Apto,Apto,No Apto,Apto
4,Dolores Valbuena,46107,Apto,Apto,Apto,Apto,No Apto
5,Julie Ferrer,86981,No Apto,No Apto,No Apto,Apto,No Apto
6,Mireia Cabañas,38689,No Apto,Apto,Apto,Apto,Apto
7,Flavia Amador,12404,Apto,Apto,No Apto,Apto,Apto
8,Albino Macias,92334,No Apto,Apto,Apto,Apto,Apto
9,Ester Sánchez,91837,No Apto,Apto,Apto,No Apto,Apto
10,Luis Miguel Galvez,72885,No Apto,Apto,Apto,Apto,Apto
11,Loida Arellano,16237,Apto,Apto,Apto,Apto,Apto
12,Heraclio Duque,91481,Apto,Apto,No Apto,No Apto,No Apto
13,Herberto Figueras,59128,Apto,Apto,Apto,Apto,Apto
14,Teresa Laguna,45955,Apto,Apto,Apto,Apto,Apto
15,Estrella Murillo,38554,Apto,Apto,No Apto,Apto,Apto
16,Ernesto Uriarte,28771,Apto,Apto,Apto,Apto,Apto
17,Daniela Guitart,31790,Apto,No Apto,No Apto,Apto,Apto
18,Timoteo Trillo,16677,No Apto,Apto,Apto,Apto,No Apto
19,Ricarda Tovar,83834,Apto,Apto,Apto,Apto,Apto
20,Alejandra Vilaplana,13406,No Apto,No Apto,No Apto,Apto,Apto
21,Daniel Rosselló,90000,No Apto,No Apto,Apto,No Apto,No Apto
22,Rita Olivares,29585,No Apto,No Apto,No Apto,Apto,Apto
23,Cleto Montes,16668,Apto,Apto,No Apto,Apto,Apto
24,Marino Castilla,71521,No Apto,No Apto,Apto,No Apto,No Apto
25,Estefanía Valcárcel,33009,Apto,Apto,No Apto,No Apto,Apto
26,Noemí Vilanova,37321,Apto,No Apto,No Apto,Apto,Apto

In [36]:
ds_proyectos

,Nombre,id_alumno,Proyecto_HLF,Proyecto_EDA,Proyecto_BBDD,Proyecto_ML,Proyecto_Deployment
0,Jafet Casals,99077,Apto,No Apto,Apto,Apto,Apto
1,Jorge Manzanares,52652,Apto,No Apto,Apto,Apto,Apto
2,Onofre Adadia,66845,Apto,Apto,Apto,No Apto,Apto
3,Merche Prada,79783,Apto,No Apto,No Apto,Apto,No Apto
4,Pilar Abella,68268,Apto,No Apto,Apto,Apto,Apto
5,Leoncio Tena,86704,Apto,Apto,Apto,Apto,Apto
6,Odalys Torrijos,98005,No Apto,Apto,Apto,Apto,Apto
7,Eduardo Caparrós,70650,No Apto,Apto,Apto,Apto,Apto
8,Ignacio Goicoechea,45723,Apto,Apto,Apto,No Apto,Apto
9,Clementina Santos,83978,Apto,No Apto,Apto,Apto,Apto
10,Daniela Falcó,73203,Apto,Apto,Apto,Apto,Apto
11,Abraham Vélez,50737,Apto,No Apto,No Apto,Apto,Apto
12,Maximiliano Menéndez,33813,Apto,No Apto,Apto,Apto,Apto
13,Anita Heredia,86017,Apto,Apto,Apto,Apto,Apto
14,Eli Casas,83744,Apto,Apto,Apto,Apto,Apto
15,Guillermo Borrego,82843,Apto,No Apto,No Apto,Apto,No Apto
16,Sergio Aguirre,25344,Apto,No Apto,Apto,Apto,No Apto
17,Carlito Carrión,17222,Apto,No Apto,Apto,Apto,Apto
18,Haydée Figueroa,14526,Apto,Apto,Apto,Apto,Apto
19,Chita Mancebo,21965,No Apto,Apto,No Apto,Apto,Apto
20,Joaquina Asensio,37821,No Apto,No Apto,Apto,Apto,Apto
21,Cristian Sarabia,59615,Apto,Apto,No Apto,Apto,Apto
22,Isabel Ibáñez,72262,No Apto,Apto,No Apto,Apto,Apto
23,Desiderio Jordá,83663,No Apto,Apto,No Apto,No Apto,Apto
24,Rosalina Llanos,80183,Apto,Apto,Apto,Apto,Apto

In [37]:
fs_proyectos

,Nombre,id_alumno,Proyecto_WebDev,Proyecto_FrontEnd,Proyecto_Backend,Proyecto_React,Proyecto_FullSatck
0,Amor Larrañaga,19746,Apto,Apto,Apto,Apto,No Apto
1,Teodoro Alberola,25384,No Apto,No Apto,Apto,No Apto,Apto
2,Cleto Plana,19809,Apto,No Apto,Apto,No Apto,Apto
3,Aitana Sebastián,77699,Apto,No Apto,Apto,No Apto,Apto
4,Dolores Valbuena,46107,Apto,Apto,Apto,Apto,No Apto
5,Julie Ferrer,86981,No Apto,No Apto,No Apto,Apto,No Apto
6,Mireia Cabañas,38689,No Apto,Apto,Apto,Apto,Apto
7,Flavia Amador,12404,Apto,Apto,No Apto,Apto,Apto
8,Albino Macias,92334,No Apto,Apto,Apto,Apto,Apto
9,Ester Sánchez,91837,No Apto,Apto,Apto,No Apto,Apto
10,Luis Miguel Galvez,72885,No Apto,Apto,Apto,Apto,Apto
11,Loida Arellano,16237,Apto,Apto,Apto,Apto,Apto
12,Heraclio Duque,91481,Apto,Apto,No Apto,No Apto,No Apto
13,Herberto Figueras,59128,Apto,Apto,Apto,Apto,Apto
14,Teresa Laguna,45955,Apto,Apto,Apto,Apto,Apto
15,Estrella Murillo,38554,Apto,Apto,No Apto,Apto,Apto
16,Ernesto Uriarte,28771,Apto,Apto,Apto,Apto,Apto
17,Daniela Guitart,31790,Apto,No Apto,No Apto,Apto,Apto
18,Timoteo Trillo,16677,No Apto,Apto,Apto,Apto,No Apto
19,Ricarda Tovar,83834,Apto,Apto,Apto,Apto,Apto
20,Alejandra Vilaplana,13406,No Apto,No Apto,No Apto,Apto,Apto
21,Daniel Rosselló,90000,No Apto,No Apto,Apto,No Apto,No Apto
22,Rita Olivares,29585,No Apto,No Apto,No Apto,Apto,Apto
23,Cleto Montes,16668,Apto,Apto,No Apto,Apto,Apto
24,Marino Castilla,71521,No Apto,No Apto,Apto,No Apto,No Apto
25,Estefanía Valcárcel,33009,Apto,Apto,No Apto,No Apto,Apto
26,Noemí Vilanova,37321,Apto,No Apto,No Apto,Apto,Apto

Guardo

In [206]:
proyecto_tabla.to_csv('/Users/auric/REPO_TEST/Entregas/Entrega 11 de abril (BD-DS-FS)/Branch_develop/proyecto-SQL-DS-FS/Data/Structured Data/proyecto_tabla.csv')